body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

main {
    padding: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-button,
.nav-button.active {
    margin-left: 20px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-button.active{
    background-color: lightgray;
}

.nav-button:hover {
    background-color: darkgrey;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}


.project-card img {
    max-width: 80%;
    max-height: 70%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: darkgrey;
}

.content-window {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 60px;
}

/* Make the navbar fixed */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* to ensure the navbar is always on top */
}

/* Add a margin to the main content to account for the fixed navbar */
main {
    margin-top: 60px; /* adjust this based on your navbar's height */
}